body {
	background: #fff;
	font-size: 16px;
	font-weight: 400;
	line-height: 28px;
	color: #8c8c8c;
	font-family: 'Montserrat', sans-serif;
	margin: 0;
	width: 100%;
	height: 100%;
}

.containered {
	max-width: 1170px;
	width: 100%;
	margin: 0 auto;
}

.padding_50{
	padding: 50px;
}

h1{
	font-family: 'Raleway', sans-serif;
	font-size: 52px;
	line-height: 1.2;
	font-weight: 800;
	margin: 14px 0 0;
}

h2{
	font-family: 'Raleway', sans-serif;
	font-size: 36px;
	line-height: 1.2;
	font-weight: 500;
	color: #fff;
	margin: 0;
}

h3{
	font-family: 'Raleway', sans-serif;
	font-size: 22px;
	line-height: 1.2;
	font-weight: 600;
	color: #555555;
	margin: 29px 0 0;
}

.text_align_center{
	text-align: center;
}



/*header_banner*/

.header_banner{
	width: 100%;
	min-height: 100vh;
	background: url("../img/banner.jpg") no-repeat center / cover;
}

.header_top{
	padding-top: 40px;
	display: grid;
	grid-template-columns: 15.4% 1fr;
	grid-column-gap: 18.8%;
	justify-content: space-between;
}

.header_top_logo{
	display: block;
}

.header_top_nav{
	display: flex;
	justify-content: space-between;
}

.header_top_menu{
	display: flex;
	list-style-type: none;
	justify-content: space-between;
	align-items: center;
	flex: 1 1 100%;
	margin: 0;
	padding-left: 0;
}

.header_top_menu li a{
	font-size: 14px;
	line-height: 1.2;
	font-weight: 300;
	color: #ffffff;
	transition: all 300ms ease 0s;
	text-decoration: none;
}

.header_top_menu li a:hover, .header_top_menu li a.active{
	color: #c7b299;
}

.header_top_form{
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-left: 63px;
	max-width: 70px;
	width: 100%;
	position: relative;
}

.header_top_form_basket{
	width: 18px;
	height: 24px;
	/*background: url("../img/basket.svg") no-repeat center / cover;*/
	display: block;
}

.header_top_form_basket svg path{
	fill: #fff;
	transition: all 300ms ease 0s;
}

.header_top_form_basket:hover svg path{
	fill: #c7b299;
}

.header_top_form input[type="search"]{
	width: 24px;
	height: 30px;
	background: url("../img/search.svg") no-repeat center / contain;
	display: block;
	border: none;
	cursor: pointer;
}

.header_top_form input[type="search"]:focus{
	width: 250px;
	transition: width 1s ease-out;
	background-position: right;
	position: relative;
	right: 120px;
	height: 32px;
	top: 60px;
	color: #fff;
	padding: 7px;
	border-radius: 5px;
	outline: none ;
	border: 1px solid #fff;
}

/*header_banner*/

/*header_center*/

.header_center{
	margin-top: 31vh;
	min-height: 57vh;
	position: relative;
	color: #fff;
}

.header_center_block{
	text-align: center;
	max-width: 590px;
	width: 100%;
	margin: 0 auto;
}

.header_center_block p{
	line-height: 24px;
	font-weight: 300;
	color: #fff;
	margin: 19px 0 0;
}

.header_center_block_button{
	max-width: 170px;
	width: 100%;
	height: 53px;
	background-color: #998675;
	border-radius: 3px;
	color: #fff;
	text-decoration: none;
	text-transform: uppercase;
	margin: 52px auto 0;
	display: block;
	font-family: 'Raleway', sans-serif;
	padding: 14px 0;
	box-sizing: border-box;
	font-weight: 800;
	transition: all 300ms ease 0s;
}

.header_center_block_button:hover{
	color: #998675;
	background: #fff;
}

.header_center_block_button:active{
	background: #d3c1ad;
}

.header_center_nav_pagin{
	position: absolute;
	bottom: 40px;
	width: 100%;
	text-align: center;
	display: grid;
	justify-content: center;
	align-items: center;
	grid-template-columns: repeat(auto-fit , minmax(11px, 15px));
	grid-column-gap: 12px;
}

.header_center_nav_pagin a{
	display: block;
	width: 11px;
	height: 11px;
	background: rgba(255,255,255,0.5);
	border-radius: 50%;
	transition: all 300ms ease 0s;
}

.header_center_nav_pagin a:hover, .header_center_nav_pagin a.active{
	border: 2px solid #d0bfab;
	background: none;
	transform: scale(1.2);
}

.header_center_nav_arrow a{
	width: 73px;
	height: 73px;
	border-top: 1px solid rgba(255, 255, 255, 0.5);
	border-left: 1px solid rgba(255, 255, 255, 0.5);
	position: absolute;
	top: 30%;
	transition: all 300ms ease 0s;
	background: none;
	border-bottom: none;
	border-right: none;
}

.header_center_nav_arrow a.left{
	left: -10%;
	transform: rotate(-46deg);
}

.header_center_nav_arrow a.right{
	right: -10%;
	transform: rotate(137deg);
}

.header_center_nav_arrow a:hover{
	border-top: 1px solid #fff;
	border-left: 1px solid  #fff;
}

/*header_center*/

/*services*/

.services{
	display: grid;
	grid-template-columns: repeat(4, 22.8%);
	grid-column-gap: 2.8%;
	justify-content: space-between;
	margin: 80px auto;
}

.services_item{
	text-align: center;
	position: relative;
	min-height: 210px;
	transition: all 300ms ease 0s;
	cursor: pointer;
}

.services_item:after{
	content: "";
	position: absolute;
	width: 70px;
	height: 3px;
	background-color: #f1eee9;
	left: 50%;
	margin-left: -35px;
	bottom: 0;
}

.services_item_img{
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 44px;
}

.services_item_img svg path{
	fill: #555555;
}

.services_item.active svg path,
.services_item:hover svg path{
	fill: #c7b299;
}

.services_item.active:after,
.services_item:hover:after {
	background-color: #c7b299;
}

.services_item.active h3,
.services_item:hover h3 {
	color: #c7b299;
}

.services_item p {
	font-size: 14px;
	line-height: 24px;
	font-weight: 300;
	color: #8c8c8c;
	margin: 19px 0 30px;
}

/*services*/

/*ideas*/

.ideas{
	background: #fbfaf8;
	padding-top: 83px;
}

.ideas_block{
	max-width: 770px;
	text-align: center;
}

.ideas_block h2{
	font-size: 30px;
	font-weight: 600;
	color: #555555;
}

.ideas_block p{
	margin: 24px 0 0;
	font-size: 16px;
	line-height: 28px;
	font-weight: 300;
	color: #8c8c8c;
}

.ideas_block_img{
	margin-top: 32px;
	position: relative;
}

.ideas_block_img_item{
	background: url("../img/browser_center.jpg") no-repeat center / cover;
	width: 100%;
	min-height: 482px;
	position: relative;
	z-index: 10;
	bottom: -8px;
	transition: all 300ms ease 0s;
	cursor: pointer;
}

.ideas_block_img_item.left{
	position: absolute;
	width: 100%;
	min-height: 400px;
	bottom: 0;
	left: -230px;
	z-index: 1;
}

.ideas_block_img_item.right{
	position: absolute;
	width: 100%;
	min-height: 400px;
	bottom: 0;
	right: -230px;
	z-index: 1;
}

.ideas_block_img_item:hover{
	z-index: 15;
}

/*ideas*/

/**/

/*
	font-family: 'Montserrat', sans-serif;
	font-family: 'Raleway', sans-serif;
	font-family: 'Roboto', sans-serif;

#000000
#00baf4
#00bff3
#111111
#191919
#211b19
#252525
#362f2d
#363636
#4e3427
#555555
#595f6f
#615855
#777777

#9299a9
#959595
#998675
#a48d72

#d1d1d1
#d3c1ad
#ebebeb
#f1eee9
#f4f5f8
#f8f8f8

#ffffff
rgba(17,17,17,0.5)
rgba(17,17,17,0.7)
*/